/*
FONTS:
-Kanit
-Lilita One
-Kosugi Maru
*/

/*root*/
:root {
    /**/
    background: var(--BColor2);

    /*Generic Colors*/
    --Color1: #2d2d2a;
    --Color2: #fffcff; 
    --Color3: #ef6351;
    --BColor1: #474747;
    --BColor2: #6a6a6a;
    /*Fonts*/
        /*Colors*/
        --FColor1: #555555;
        --FColor2: #dfd9df; 
        --FColor3: #ff9e91;
            /*link*/
            --LColor1: #ff4830;
            --LColor2: #ec5744;
            --LColor3: #ff3a20;
            --LColor4: #ff0000;
        /*Fonts*/
        --FFamily1: Kanit;
        --FFamily2: Lilita One;
        --FFamily3: Kosugi Maru;
        --FFamilyBackup: sans-serif;
}



/*all*/
a {
    font-family: "Kosugi Maru";
    text-decoration: none;
}

a:link {
    color: var(--LColor1);
  }
  
  a:visited {
    color: var(--LColor2);
  }
  
  a:hover {
    color: var(--LColor3);
  }
  
  a:active {
    color: var(--LColor4);
  }

/*classes*/
.TopBarButton {
  float: left;

  padding: 1em;
  background-color: var(--Color1);
  color: var(--Color3);
  border-color: var(--Color3);

  margin-top: 1.5em;
  margin-bottom: 0;

}

.song_in_list1 {
  position: static;
  top: 0;
  background-color: var(--Color1);
  padding: 1em;
  padding-bottom: 1.5em;
  margin: 0.5em;
  border-radius: 1.5em;
  margin-right: 52.5%;

  z-index: -1;
}

.FPset1 {
    color: var(--BColor1);
    font-family: var(--FFamily2), var(--FFamilyBackup);
    font-size: 5em;
    margin: 0%;
}

.FPset2 {
    color: var(--FColor2);
    font-family: var(--FFamily1), var(--FFamilyBackup);
    font-size: 5em;
    line-height: 1em;
}

.IMGlogo {
    height: 5em;
    float: left;
}

/*IDs*/

#play_bar{
    position: sticky;
    top: 8em;
    background-color: var(--Color1);
    padding-left: 45%;
    padding-bottom: 35em;
    margin: 0.5em;
    border-radius: 1.5em;
    margin-left: 52.5%;
}

#TopBar1{
    position: sticky;
    top: 0;
    background-color: var(--Color1);
    padding: 0.5em;
    padding-bottom: 6em;
    margin: 1em;
    border-radius: 1.5em;
}